.Links{
display: flex;
flex-flow: row;
align-content: center;
justify-content: flex-end;
gap: 16px;
background-color: #1F2937;
color: white;
}



.Logo{

display: flex;
align-content: center;
justify-content: left;
background-color: #1F2937;

}

